workflows/02_LLM_sentiment_webhook.json
{
  "name": "02 LLM sentiment webhook",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.review }}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "Your role is to determine if a review is positive, negative or neutral."
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.6,
      "position": [
        340,
        -20
      ],
      "id": "e246270e-70ed-4f35-af10-1867c7837d98",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash-exp",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        360,
        160
      ],
      "id": "eb96f6ef-5b97-4b90-9e38-6ca2de8dfadc",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "c0EsoICbaQUFDRY7",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n\t\"type\": \"object\",\n\t\"properties\": {\n\t\t\"sentiment\": {\n\t\t\t\"type\": \"string\",\n            \"enum\": [\"positive\", \"negative\", \"neutral\"]\n\t\t}\n\t},\n    \"required\": [\"sentiment\"]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        520,
        180
      ],
      "id": "23bbc38d-e12e-4a84-91e5-7af1927b70b5",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "sentiment",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        140,
        -20
      ],
      "id": "d048ebd2-7c1f-4d94-b9e7-48d84c3e3bf4",
      "name": "Webhook",
      "webhookId": "5c8dde71-51b7-4dc5-a7a9-40df91b47e7a"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"sentiment\": \"{{ $json.output.sentiment }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        700,
        -20
      ],
      "id": "3c9cf41e-da29-48ba-9918-905e22d81a19",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "077bf3b7-afc7-4bf2-b6e2-8ad7db1bab26",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8e290693d6d6c2ceb8ce87bd5062de73f4fcbf9c31701f6c0a38e72af1c36dd8"
  },
  "id": "TIx5LtQtzV723nsE",
  "tags": []
}