workflows/03_LLM_sentiment_form_submission.json
{
  "name": "03 LLM sentiment form submission",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.Review }}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "Your role is to determine if a review is positive, negative or neutral."
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.6,
      "position": [
        360,
        0
      ],
      "id": "00254a3b-cb4b-43a7-8d70-a6647a31a2d8",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash-exp",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        380,
        180
      ],
      "id": "11a3c282-e308-40b6-be3d-e8212a5a1d19",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "c0EsoICbaQUFDRY7",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n\t\"type\": \"object\",\n\t\"properties\": {\n\t\t\"sentiment\": {\n\t\t\t\"type\": \"string\",\n            \"enum\": [\"positive\", \"negative\", \"neutral\"]\n\t\t}\n\t},\n    \"required\": [\"sentiment\"]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        520,
        180
      ],
      "id": "91256c9b-5420-4a23-9369-5b1a78b86404",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "formTitle": "Review form",
        "formDescription": "Leave your review here",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Name",
              "placeholder": "Enter your name",
              "requiredField": true
            },
            {
              "fieldLabel": "Review",
              "fieldType": "textarea",
              "placeholder": "Enter your review",
              "requiredField": true
            }
          ]
        },
        "options": {
          "path": "review"
        }
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        120,
        -100
      ],
      "id": "5b2883db-e6af-4d08-bc69-f666d8ae7d44",
      "name": "On form submission",
      "webhookId": "fdb5dc16-b75b-4f74-baff-8be7b285d49a"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        740,
        -80
      ],
      "id": "121c22d9-6d94-4b34-8362-d438f5966adc",
      "name": "Merge"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.output.sentiment }}",
                    "rightValue": "positive",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "0eb6c65c-b510-4f92-886e-a96655ff7151"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Positive"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "7f9fe1f9-6f6a-43ea-adc5-353659e00794",
                    "leftValue": "={{ $json.output.sentiment }}",
                    "rightValue": "neutral",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Neutral"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "968acea0-18b2-4bc2-91a6-2c619f5d0b85",
                    "leftValue": "={{ $json.output.sentiment }}",
                    "rightValue": "negative",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Negative"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        900,
        -80
      ],
      "id": "82f05160-f2c0-4f57-b5b3-a6807994df46",
      "name": "Switch"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "positive_sentiments",
          "mode": "list",
          "cachedResultName": "positive_sentiments"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "name": "={{ $json.Name }}",
            "review": "={{ $json.Review }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "name",
              "displayName": "name",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "review",
              "displayName": "review",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1140,
        -240
      ],
      "id": "590d657e-dc40-4ac1-accc-4d889a4dcbd1",
      "name": "positive table",
      "credentials": {
        "postgres": {
          "id": "07pR1Q22nXZc6vVR",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "negative_sentiments",
          "mode": "list",
          "cachedResultName": "negative_sentiments"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "name": "={{ $json.Name }}",
            "review": "={{ $json.Review }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "name",
              "displayName": "name",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "review",
              "displayName": "review",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1140,
        80
      ],
      "id": "6051858f-e149-4c9a-b6ba-0c9760f3eccc",
      "name": "negative table",
      "credentials": {
        "postgres": {
          "id": "07pR1Q22nXZc6vVR",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "neutral_sentiments",
          "mode": "list",
          "cachedResultName": "neutral_sentiments"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "name": "={{ $json.Name }}",
            "review": "={{ $json.Review }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "name",
              "displayName": "name",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "review",
              "displayName": "review",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1140,
        -80
      ],
      "id": "e8ea3a81-2ee6-47aa-8a42-ba3b77209da5",
      "name": "neutral table",
      "credentials": {
        "postgres": {
          "id": "07pR1Q22nXZc6vVR",
          "name": "Postgres account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "On form submission": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          },
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "positive table",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "neutral table",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "negative table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "11cdc434-45db-43fb-b9d6-b5ddd8f8353b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8e290693d6d6c2ceb8ce87bd5062de73f4fcbf9c31701f6c0a38e72af1c36dd8"
  },
  "id": "GQVoOV6jyZ6irD7P",
  "tags": []
}