workflows/07_Muti_agent__Email_agent.json
{
  "name": "07 Muti agent: Email agent",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "3e7368f2-724b-4e4e-84b6-be696f5bf327",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.query }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        220,
        0
      ],
      "id": "739f595b-dcc5-4c59-be7f-dfffe9406590",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "operation": "getAll",
        "limit": 5,
        "filters": {
          "readStatus": "unread"
        }
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        380,
        220
      ],
      "id": "8f3773ef-423a-4207-95d4-6802e3b342a2",
      "name": "Unread",
      "webhookId": "732495d2-7b5d-47d4-994d-51ce42dde0a3",
      "credentials": {
        "gmailOAuth2": {
          "id": "A7iGx02Dg891RIqA",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message_ID', ``, 'string') }}",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        620,
        220
      ],
      "id": "451daebd-d49c-4308-bd2c-56fd669e51a2",
      "name": "Reply",
      "webhookId": "0c48f9c1-cd6f-42c0-b860-f6ae6672762f",
      "credentials": {
        "gmailOAuth2": {
          "id": "A7iGx02Dg891RIqA",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To', ``, 'string') }}",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        500,
        220
      ],
      "id": "0f9e2aa9-3975-45e5-b21a-c0d3720dbce3",
      "name": "Send",
      "webhookId": "a8e03669-c48b-41e9-a925-1b1bd3244f7c",
      "credentials": {
        "gmailOAuth2": {
          "id": "A7iGx02Dg891RIqA",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        260,
        220
      ],
      "id": "98cd2ce1-fc8e-4845-8876-45c557b4b471",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "N7zI62i0cF228HKn",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "query": "Reply to Meng, asking him to complete the work by Tuesday?"
        }
      }
    ]
  },
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Unread": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Reply": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Send": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "timezone": "Asia/Bangkok",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "029526d2-1d35-40c0-98d0-6edb8f9e13ef",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8e290693d6d6c2ceb8ce87bd5062de73f4fcbf9c31701f6c0a38e72af1c36dd8"
  },
  "id": "MPesZacT0mJzlGsP",
  "tags": []
}